.page-noticia {
  width: 1280px;
  .cabecalho {
    display: flex;
    flex-direction: column;
    gap: 4px;
    .categoria {
      font-size: 1.25rem;
      color: #2c53af;
      text-transform: uppercase;
    }
    .titulo-noticia {
      font-size: 4.5rem;
      font-weight: 600;
    }
    .subtitulo-noticia {
      font-size: 2rem;
      font-weight: 500;
      color: #404040;
    }
    .detalhes {
      display: flex;
      flex-direction: column;
      font-weight: 300;
      gap: 4px;
      position: relative;
      b {
        font-weight: 700;
      }
      .btn-compartilhar {
        position: absolute;
        right: 0;
        bottom: 0;
        button {
          width: 55px;
          height: 55px;
          background-color: #2c53af;
          padding: 0.5rem;
          border-radius: 35px;
          cursor: pointer;
          transition: 0.3s;
          position: relative;
          z-index: 1;
          &:hover {
            background-color: #12244e;
            scale: 1.05;
          }
        }
        .itens {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #2c53af93;
            border-radius: 25px;
            width: 20px;
            height: 20px;
            padding: 6px;
            cursor: pointer;
            transition: 0.3s;
            &:hover {
              scale: 1.05;
            }
          }
        }
      }
      .btn-compartilhar.ativo {
        .itens {
          svg {
            &:nth-child(1) {
              translate: -45px 0;
            }
            &:nth-child(2) {
              translate: -80px 0;
            }
            &:nth-child(3) {
              translate: -115px 0;
            }
            &:nth-child(4) {
              translate: -150px 0;
            }
            &:nth-child(5) {
              translate: -185px 0;
            }
          }
        }
      }
    }
  }
  .img-noticia{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin: 0 auto;
    img{
      width: 100%;
      object-fit: contain;
    }
    legend{
      color: #404040;
    }
  }
  .corpo-noticia{
    p{
      font-size: 1.25rem;
      font-weight: 500;
      color: #202020;
    }
  }
  .tags{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    h3{
      font-size: 1.25rem;
    }
    .lista-tags{
      display: flex;
      align-items: center;
      gap: 1.5rem;
      .tag{
        padding: 4px 8px;
        background-color: #d0d0d0;
        transition: .3s ease;
        &:hover{
          background-color: #c0c0c0;
        }
        span{
          font-weight: 500;
          text-transform: uppercase;
        }
      }
    }
  }
  .info-autor{
    width: fit-content;
    border-radius: 5px;
    background-color: #2c53af36;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    transition: .3s ease;
    &:hover{
      background-color: #2c53af67;
    }
    .img-autor{
      width: 96px;
      aspect-ratio: 1;
      border-radius: 100%;
    }
    .nome-autor{
      font-weight: 500;
      color: #202020;
    }
  }
  .mais-noticias{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    .veja-mais{
      color: #2c53af;
      font-size: 3rem;
    }
    .noticias{
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3,1fr);
      gap: 4rem 2rem;
      .noticia{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        &:hover{
          .img-noticia{
            img{
              scale: 1.05;
            }
          }
        }
        .img-noticia{
          overflow: hidden;
          border-radius: 5px;
          img{
            width: 100%;
            transition: .3s ease;
            object-fit: cover;
          }
        }
        .data{
          font-weight: 500;
          color: #2c53af;
          display: flex;
          align-items: center;
          gap: 8px;
          text-transform: uppercase;
          svg{
            translate: 0 -2px;
          }
        }
        .titulo-noticia{
          font-weight: 600;
        }
      }
    }
  }
}
