header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 50%;
    translate: -50% 0;
    z-index: 1000;
    color: #323232;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-bottom: solid 1px #dadada;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    .header{
        width: 1600px;
        padding: 1rem 0;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .topo{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            justify-items: center;
            align-items: center;
            .input-busca{
                position: relative;
                input{
                    border: solid 1px #d0d0d0;
                    outline: none;
                    padding: 0.5rem;
                    font-size: 1.15rem;
                    transition: .3s;
                    &:focus-visible{
                        border: solid 1px #12244E;
                    }
                }
                svg{
                    position: absolute;
                    right: 0.5rem;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            .btn-login{
                background-color: #2c53af;
                color: white;
                padding: 1rem;
                border-radius: 0.25rem;
                font-size: 1.25rem;
                font-weight: 300;
                cursor: pointer;
                border-radius: 0;
                transition: .3s;
                &:hover{
                    background-color: #12244E;
                }
            }
        }
        nav{
            padding-top: 1rem;
            border-top: solid 4px #2c53af;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            a{
                text-decoration: none;
                color: #323232;
                font-size: 1.25rem;
                font-weight: 500;
                transition: .3s;
                &:hover{
                    text-decoration: underline;
                    scale: 1.05;
                }
            }
        }
    }
}
@media (max-width: 1600px){
    header{
        .header{
            width: 95%;
        }
    }
}
@media (max-width: 768px){
    header{
        .header{
            .topo{
                grid-template-columns: 1fr 1fr;
                gap: 1rem 0;
                h1{
                    grid-column: 1/3;
                    grid-row: 1;
                }
                .input-busca{
                    input{
                        // height: 35px;
                    }
                }
                .btn-login{
                    font-size: 1rem;
                    height: 40px;
                    padding: 0 1rem;
                }
            }
            nav{
                a{
                    font-size: 1rem;
                }
            }
        }
    }
}