header{
    color: #323232;
    width: 1600px;
    margin: 0 auto;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-bottom: solid 1px #dadada;
    .topo{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        .input-busca{
            position: relative;
            input{
                border: solid 1px #d0d0d0;
                outline: none;
                padding: 0.5rem;
                font-size: 1.15rem;
                transition: .3s;
                &:focus-visible{
                    border: solid 1px #12244E;
                }
            }
            svg{
                position: absolute;
                right: 0.5rem;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        .btn-login{
            background-color: #12244E;
            color: white;
            padding: 1rem;
            border-radius: 0.25rem;
            font-size: 1.25rem;
            font-weight: 300;
            cursor: pointer;
            border-radius: 0;
        }
    }
    nav{
        padding-top: 1rem;
        border-top: solid 4px #12244E;
        display: flex;
        justify-content: center;
        gap: 20px;
        a{
            text-decoration: none;
            color: #323232;
            font-size: 1.25rem;
            font-weight: 500;
            transition: .3s;
            &:hover{
                text-decoration: underline;
                scale: 1.05;
            }
        }
    }
}