.dialog {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    .avatar {
        display: flex;
        align-items: center;
        gap: 1rem;
        img{
            width: 100px;
            aspect-ratio: 1;
            border-radius: 50%;
            object-fit: cover;
        }
      .upload {
        border: dashed 1px #dadada;
        padding: 1rem;
        text-align: center;
        color: #404040;
        input[type="file"] {
          display: none;
        }
        button {
          color: black;
        }
        p {
          font-size: 0.875rem;
        }
      }
    }
    h4{
        align-self: center;
    }
    .redes{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    mat-icon{
        color: #12244e;
    }
    button[type="submit"] {
      background-color: #1aa04e;
      color: white;
      transition: 0.3s;
      &:hover {
        background-color: #20b558;
      }
      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }
  }
}
