.dialog {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;
    .textarea,button{
        grid-column: 1/3;
    }
    button {
      background-color: #1aa04e;
      color: white;
      transition: 0.3s;
      &:hover {
        background-color: #20b558;
      }
      &:disabled{
        background-color: #ccc;
        cursor: not-allowed;
      }
    }
  }
}
