.tags {
  width: 90%;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  .topo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .btn-add {
      background-color: #1aa04e;
      color: white;
      transition: 0.3s;
      &:hover {
        background-color: #20b558;
      }
    }
  }
  .lista-tags {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .tag {
    border: solid 1px #d0d0d0;
    padding: 1rem;
    h2 {
      font-size: 1.25rem;
      font-weight: 500;
    }
    .buttons {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      border-top: solid 1px #d0d0d0;
      padding-top: 0.5rem;
      .btn-edit {
        background-color: #12244e;
        color: white;
        &:hover {
          background-color: #2c53af;
        }
      }
      .btn-delete {
        background-color: #800000;
        color: white;
        &:hover {
          background-color: #c20000;
        }
      }
    }
  }
}
