.tags {
  width: 90%;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  .topo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .btn-add{
      background-color: #1aa04e;
      color: white;
      transition: .3s;
      &:hover{
        background-color: #20b558;
      }
    }
  }
  .lista-tags{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .tag{
    border: solid 1px #d0d0d0;
    padding: 1rem;
    h2{
        font-size: 1.25rem;
        font-weight: 500;
    }
  }
}
