.tags {
  width: 90%;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  .lista-tags{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .tag{
    border: solid 1px #d0d0d0;
    padding: 1rem;
    h2{
        font-size: 1.25rem;
        font-weight: 500;
    }
  }
}
