.dashboard{
    .itens-dashboard{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;
        .item{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            border-radius: 10px;
            padding: 1rem;
            h3{
                font-weight: 500;
                font-size: 1.2rem;
            }
            p{
                font-size: 3rem;
                font-weight: 600;
            }
            .news{
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                p{
                    font-size: 1rem;
                    color: #333;
                    font-weight: 400;
                }
            }
        }
    }
}