<section class="admin dashboard">
    <h1>Dashboard</h1>
    <div class="itens-dashboard">
        @if (dashboardSuperAdmin) {
            <div class="item">
                <h3>Total de Notícias</h3>
                <p>{{ this.dashboardSuperAdmin.total_news }}</p>
            </div>
        } @else if(dashboardAutor) {
            <div class="item">
                <h3>Meu total de Notícias</h3>
                <p>{{ this.dashboardAutor.my_total_news }}</p>
            </div>
        }
    </div>
</section>