.sidebar{
    background-color: #12244E;
    color: white;
    display: flex;
    flex-direction: column;
    width: 220px;
    min-height: 100dvh;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 15px;
    padding-bottom: 0;
    .infos{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        border-bottom: solid 1px white;
        img{
            border-radius: 10px;
        }
        h2{
            font-size: 1.25rem;
            font-weight: 500;
        }
        p{
            font-size: 0.875rem;
        }
    }
    .btn-mobile{
        width: 45px;
        height: 45px;
        display: none;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 15%;
        right: 1px;
        translate: 100% -15%;
        padding: 0.5rem;
        cursor: pointer;
        background-color: #12244E;
        color: white;
        font-size: 1.75rem;
        border-radius: 0 3px 3px 0;
        svg{
            transition: .2s;
        }
    }
    &.mobile{
        .btn-mobile{
            svg{
                rotate: 180deg;
            }
        }
    }
    nav{
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
        a{
            padding: 0.5rem 0;
            font-size: 1.15rem;
            text-transform: uppercase;
            position: relative;
            &::after{
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 1px;
                background-color: white;
                transition: .3s;
            }
            &:hover{
                &::after{
                    width: 100%;
                }
            }
        }
    }
    .perfil{
        margin-top: auto;
        border-top: solid 1px white;
        display: flex;
        align-items: center;
        padding: 0.5rem 0;
    }
    .logout{
        margin-top: 1rem;
        background-color: unset;
        color: white;
        text-align: start;
        padding: 0.5rem 0;
        font-size: 1.15rem;
        text-transform: uppercase;
        cursor: pointer;
    }
}
@media (max-width: 1024px){
    .sidebar{
        position: fixed;
        translate: -100% 0;
        transition: .3s ease;
        .btn-mobile{
            display: flex;
        }
        &.mobile{
            translate: 0 0;
        }
    }
}