<section class="page-categoria">
  <h1 class="titulo-categoria">Nome da categoria</h1>
  <div class="noticias">
    <a href="/noticia/titulo-da-noticia" class="noticia">
      <h2>Título da notícia</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam nisi
        laboriosam quisquam accusamus maiores. Maiores accusamus esse rem nisi
        id!
      </p>
      <p class="infos">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-calendar"
            viewBox="0 0 16 16"
          >
            <path
              d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"
            />
          </svg>
          25/12/2025
        | Leitura de 6 min</p>
      <div class="img-noticia">
        <img
          src="https://cdn.folhape.com.br/img/c/940/620/dn_arquivo/2025/01/ponte-giratoria.jpg"
          alt=""
        />
      </div>
    </a>
    <a href="/noticia/titulo-da-noticia" class="noticia">
      <h2>Título da notícia</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam nisi
        laboriosam quisquam accusamus maiores. Maiores accusamus esse rem nisi
        id!
      </p>
      <p class="infos">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-calendar"
            viewBox="0 0 16 16"
          >
            <path
              d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"
            />
          </svg>
          25/12/2025
        | Leitura de 6 min</p>
      <div class="img-noticia">
        <img
          src="https://cdn.folhape.com.br/img/c/940/620/dn_arquivo/2025/01/ponte-giratoria.jpg"
          alt=""
        />
      </div>
    </a>
    <a href="/noticia/titulo-da-noticia" class="noticia">
      <h2>Título da notícia</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam nisi
        laboriosam quisquam accusamus maiores. Maiores accusamus esse rem nisi
        id!
      </p>
      <p class="infos">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-calendar"
            viewBox="0 0 16 16"
          >
            <path
              d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"
            />
          </svg>
          25/12/2025
        | Leitura de 6 min</p>
      <div class="img-noticia">
        <img
          src="https://cdn.folhape.com.br/img/c/940/620/dn_arquivo/2025/01/ponte-giratoria.jpg"
          alt=""
        />
      </div>
    </a>
    <a href="/noticia/titulo-da-noticia" class="noticia">
      <h2>Título da notícia</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam nisi
        laboriosam quisquam accusamus maiores. Maiores accusamus esse rem nisi
        id!
      </p>
      <p class="infos">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-calendar"
            viewBox="0 0 16 16"
          >
            <path
              d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"
            />
          </svg>
          25/12/2025
        | Leitura de 6 min</p>
      <div class="img-noticia">
        <img
          src="https://cdn.folhape.com.br/img/c/940/620/dn_arquivo/2025/01/ponte-giratoria.jpg"
          alt=""
        />
      </div>
    </a>
    <a href="/noticia/titulo-da-noticia" class="noticia">
      <h2>Título da notícia</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam nisi
        laboriosam quisquam accusamus maiores. Maiores accusamus esse rem nisi
        id!
      </p>
      <p class="infos">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-calendar"
            viewBox="0 0 16 16"
          >
            <path
              d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"
            />
          </svg>
          25/12/2025
        | Leitura de 6 min</p>
      <div class="img-noticia">
        <img
          src="https://cdn.folhape.com.br/img/c/940/620/dn_arquivo/2025/01/ponte-giratoria.jpg"
          alt=""
        />
      </div>
    </a>
    <a href="/noticia/titulo-da-noticia" class="noticia">
      <h2>Título da notícia</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam nisi
        laboriosam quisquam accusamus maiores. Maiores accusamus esse rem nisi
        id!
      </p>
      <p class="infos">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-calendar"
            viewBox="0 0 16 16"
          >
            <path
              d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"
            />
          </svg>
          25/12/2025
        | Leitura de 6 min</p>
      <div class="img-noticia">
        <img
          src="https://cdn.folhape.com.br/img/c/940/620/dn_arquivo/2025/01/ponte-giratoria.jpg"
          alt=""
        />
      </div>
    </a>
  </div>
</section>
