.page-categoria{
    align-items: center;
    .titulo-categoria{
        font-size: 3rem;
        color: #2c53af;
    }
    .noticias{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 4rem 2rem;
        .noticia {
        display: flex;
        flex-direction: column;
        gap: 5px;
        h2 {
          font-weight: 600;
          transition: 0.3s;
        }
        &:hover {
          h2 {
            color: #12244e;
          }
          .img-noticia {
            img {
              scale: 1.05;
            }
          }
        }
        .texto {
          color: #12244e;
        }
        .infos {
          color: #2c53af;
          font-weight: 500;
          text-transform: uppercase;
          display: flex;
          gap: 6px;
        }
        .img-noticia {
          overflow: hidden;
          border-radius: 5px;
          img {
            width: 100%;
            height: 100%;
            transition: 0.3s;
          }
        }
      }
    }
}