<div class="dialog">
    <h1>Alterar Senha</h1>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label>Senha Atual</mat-label>
            <input type="password" matInput formControlName="current_password" placeholder="Digite sua senha atual">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Nova Senha</mat-label>
            <input type="password" matInput formControlName="new_password" placeholder="Digite sua nova senha">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Confirmar Nova Senha</mat-label>
            <input type="password" matInput formControlName="new_password_confirmation" placeholder="Confirme sua nova senha">
        </mat-form-field>
        <button mat-raised-button type="submit" [disabled]="changePasswordForm.invalid">Alterar Senha</button>
    </form>
</div>
