.profile {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .topo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .btn-edit {
      background-color: #12244e;
      color: white;
      &:hover {
        background-color: #2c53af;
      }
    }
  }
  .perfil {
    .topo-perfil {
      display: flex;
      align-items: center;
      gap: 1rem;
      .img-admin {
        img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
        }
      }
      .info-admin {
        display: flex;
        flex-direction: column;
        gap: 2px;
        h3 {
          font-size: 1.5rem;
          font-weight: bold;
        }
        p {
          font-size: 1rem;
          color: #404040;
        }
        span {
          padding-top: 2px;
          border-top: solid 1px #d0d0d0;
        }
      }
    }
    .conteudo-admin {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      button {
        width: fit-content;
        background-color: #12244e;
        color: white;
        transition: .3s;
        font-size: 0.875rem;
        &:hover {
          background-color: #2c53af;
        }
      }
      .bio {
        color: #404040;
        padding-bottom: 1rem;
        border-bottom: solid 1px #d0d0d0;
      }
      .rede {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    }
  }
}
