.login-container{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    width: 500px;
    .logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        p{
            color: #404040;
        }
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 100%;
        mat-form-field{
            width: 95%;
        }
        button{
            background-color: #2c53af;
            color: white;
            transition: .3s ease;
            &:hover{
                background-color: #12244E;
            }
            &:disabled{
                opacity: 0.75;
            }
        }
    }
}