.page-autor {
  align-items: center;
  .autor {
    width: 100%;
    border-radius: 5px;
    background-color: #2c53af36;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    .img-autor {
      width: 128px;
      aspect-ratio: 1;
      border-radius: 100%;
    }
    .infos-autor {
      display: flex;
      flex-direction: column;
      gap: 4px;
      .nome-autor {
        font-weight: 500;
        font-size: 2rem;
        color: #202020;
        display: flex;
        gap: 0.5rem;
        .redes {
          display: flex;
          align-items: center;
          gap: 0.75rem;
          a {
            display: flex;
            svg {
              transition: 0.3s ease;
              &:hover {
                scale: 1.1;
              }
            }
          }
        }
      }
      .bio {
        color: #404040;
      }
    }
  }
  .noticias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem 2rem;
    .noticia {
      display: flex;
      flex-direction: column;
      gap: 5px;
      h2 {
        font-weight: 600;
        transition: 0.3s;
      }
      &:hover {
        h2 {
          color: #12244e;
        }
        .img-noticia {
          img {
            scale: 1.05;
          }
        }
      }
      .texto {
        color: #12244e;
      }
      .infos {
        color: #2c53af;
        font-weight: 500;
        text-transform: uppercase;
        display: flex;
        gap: 6px;
      }
      .img-noticia {
        overflow: hidden;
        border-radius: 5px;
        img {
          width: 100%;
          height: 100%;
          transition: 0.3s;
        }
      }
    }
  }
}
