.page-admins {
  width: 90%;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  .topo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .btn-add {
      background-color: #1aa04e;
      color: white;
      transition: 0.3s;
      &:hover {
        background-color: #20b558;
      }
    }
  }
  .lista-admins {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .admins {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1rem;
      .admin {
        padding: 1rem;
        border: solid 1px #d0d0d0;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        &.admin-disabled {
          border: solid 1px #e20000;
          .buttons {
            .btn-edit {
              background-color: #1aa04e;
              color: white;
              transition: 0.3s;
              &:hover {
                background-color: #20b558;
              }
            }
          }
        }
        .img {
          img {
            width: 120px;
            border-radius: 100%;
            aspect-ratio: 1;
            object-fit: cover;
          }
        }
        .infos {
          display: flex;
          flex-direction: column;
          margin-bottom: 1rem;
          // gap: 4px;
          .redes {
            display: flex;
            align-items: center;
            gap: 8px;
            margin: 8px 0;
            a {
              display: flex;
              svg {
                transition: 0.3s ease;
                &:hover {
                  scale: 1.1;
                }
              }
            }
          }
          small {
            padding-top: 4px;
            border-top: solid 1px #d0d0d0;
            color: #606060;
          }
        }
        .buttons {
          margin-top: auto;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          margin-top: auto;
          button {
            width: 100%;
            padding: 0.5rem;
            transition: 0.3s;
          }
          .btn-edit {
            background-color: #e2c20a;
            color: black;
            &:hover {
              background-color: #ffd902;
            }
          }
          .btn-delete {
            background-color: #800000;
            color: white;
            &:hover {
              background-color: #c20000;
            }
          }
        }
      }
    }
  }
}
