section.page-home {
  width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  padding-top: 1rem;
  margin-top: 180px;
  h1 {
    font-size: 3rem;
    display: flex;
    color: #2c53af;
  }
  .ultimas-noticias {
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // gap: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2rem;
    grid-auto-flow: column;
    .noticia {
      display: flex;
      gap: 5px;
      &:first-child {
        grid-row: 1/4;
        flex-direction: column;
        .img-noticia {
          flex-grow: 1;
        }
      }
      &:not(:first-child) {
        .infos-noticia {
          flex: 2;
        }
        .img-noticia {
          flex: 1;
        }
      }
      &:hover {
        h2 {
          color: #12244e;
        }
        .img-noticia {
          img {
            scale: 1.05;
          }
        }
      }
      .infos-noticia {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }
      h2 {
        font-weight: 600;
        transition: 0.3s;
      }
      .texto {
        color: #12244e;
      }
      .infos {
        color: #2c53af;
        font-weight: 500;
        text-transform: uppercase;
      }
      .img-noticia {
        overflow: hidden;
        border-radius: 5px;
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          transition: 0.3s;
        }
      }
    }
    .noticia-primaria {
      flex-direction: column;
      height: 100%;
      h2 {
        font-size: 2rem;
        flex-grow: 1;
      }
      p {
        flex-grow: 1;
      }
    }
    .secundarias {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1rem;
      .noticia {
        width: 100%;
        display: flex;
        .conteudo-noticia {
          display: flex;
          flex-direction: column;
          gap: 5px;
        }
        .img-noticia {
          width: 60%;
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .categorias {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    .categoria {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .titulo-categoria {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        align-items: center;
        background-color: #d0d0d0;
        border-radius: 5px;
        a {
          display: flex;
          align-items: center;
          gap: 4px;
        }
      }
      .noticias {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;
        .noticia {
          display: flex;
          flex-direction: column;
          gap: 5px;
          padding: 1rem;
          transition: 0.3s;
          h2 {
            font-weight: 600;
            flex-grow: 1;
            transition: 0.3s;
          }
          .desc-noticia {
            flex-grow: 1;
          }
          &:hover {
            background-color: #f0f0f0;
            h2 {
              color: #12244e;
            }
          }
          .texto {
            color: #12244e;
          }
          .infos {
            color: #2c53af;
            font-weight: 500;
            text-transform: uppercase;
          }
          &:hover {
            .img-noticia {
              img {
                scale: 1.05;
              }
            }
          }
          .img-noticia {
            aspect-ratio: 4/3;
            overflow: hidden;
            border-radius: 5px;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              transition: 0.3s;
            }
          }
        }
      }
    }
  }
  .mais-lidas {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    .noticias {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 2rem;
      .noticia {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 1rem;
        transition: 0.3s;
        h2 {
          font-weight: 600;
          flex-grow: 1;
          transition: 0.3s;
        }
        .desc-noticia {
          flex-grow: 1;
        }
        &:hover {
          background-color: #f0f0f0;
          h2 {
            color: #12244e;
          }
        }
        .texto {
          color: #12244e;
        }
        .infos {
          color: #2c53af;
          font-weight: 500;
          text-transform: uppercase;
        }
        &:hover {
          .img-noticia {
            img {
              scale: 1.05;
            }
          }
        }
        .img-noticia {
          aspect-ratio: 4/3;
          overflow: hidden;
          border-radius: 5px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 0.3s;
          }
        }
      }
    }
  }
}
@media (max-width: 1600px) {
  section.page-home {
    width: 95%;
  }
}
@media (max-width: 1024px) {
  section.page-home {
    margin-top: 230px;
    gap: 50px;
    .ultimas-noticias {
      grid-template-columns: repeat(1, 1fr) !important;
      grid-template-rows: auto;
      grid-auto-flow: row;
      justify-items: center;
      .noticia {
        width: 80%;
        // flex-direction: column;
        grid-row: auto !important;
      }
    }
    .noticias {
      grid-template-columns: repeat(1, 1fr) !important;
      justify-items: center;
      .noticia {
        width: 80%;
      }
    }
  }
}
