section.page-home {
  width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding-top: 1rem;
  h1 {
    text-align: center;
    color: #2c53af;
  }
  .ultimas-noticias {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    .noticia {
      display: flex;
      gap: 5px;
      &:hover {
        h2 {
          color: #12244e;
        }
        .img-noticia {
          img {
            scale: 1.05;
          }
        }
      }
      h2 {
        font-weight: 600;
        transition: 0.3s;
      }
      .texto {
        color: #12244e;
      }
      .img-noticia {
        overflow: hidden;
        border-radius: 5px;
        img {
          width: 100%;
          height: 100%;
          transition: 0.3s;
        }
      }
    }
    .noticia-primaria {
      flex-direction: column;
      height: 100%;
      h2 {
        font-size: 2rem;
        flex-grow: 1;
      }
      p {
        flex-grow: 1;
      }
    }
    .secundarias {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1rem;
      .noticia {
        width: 100%;
        display: flex;
        .conteudo-noticia {
          display: flex;
          flex-direction: column;
          gap: 5px;
        }
        .img-noticia {
          width: 60%;
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .categorias {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .categoria {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .titulo-categoria {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        align-items: center;
        background-color: #d0d0d0;
        border-radius: 5px;
        a{
          display: flex;
          align-items: center;
          gap: 4px;
        }
      }
      .noticias {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 2rem;
        .noticia {
          display: flex;
          flex-direction: column;
          gap: 5px;
          h2 {
            font-weight: 600;
            transition: 0.3s;
          }
          &:hover {
            h2 {
              color: #12244e;
            }
          }
          .texto {
            color: #12244e;
          }
          &:hover{
            .img-noticia{
              img{
                scale: 1.05;
              }
            }
          }
          .img-noticia {
            overflow: hidden;
            border-radius: 5px;
            img {
              width: 100%;
              height: 100%;
              transition: .3s;
            }
          }
        }
      }
    }
  }
  .mais-lidas {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .noticias {
      display: flex;
      gap: 2rem;
      .noticia {
        display: flex;
        flex-direction: column;
        gap: 5px;
        h2 {
          font-weight: 600;
          transition: 0.3s;
        }
        &:hover {
          h2 {
            color: #12244e;
          }
          .img-noticia{
            img{
              scale: 1.05;
            }
          } 
        }
        .texto {
          color: #12244e;
        }
        .img-noticia{
           overflow: hidden; 
           border-radius: 5px;
           img {
             width: 100%;
             height: 100%;
             transition: .3s;
           }
        }
      }
    }
  }
}
