<section class="page-home">
  <h1>Últimas Notícias</h1>
  <div class="ultimas-noticias">
    <a href="" class="noticia noticia-primaria">
      <h2>Título da notícia</h2>
      <p class="texto">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam nisi
        laboriosam quisquam accusamus maiores. Maiores accusamus esse rem nisi
        id!
      </p>
      <p>Categoria | Leitura de 6 min</p>
      <div class="img-noticia">
        <img
          src="https://cdn.folhape.com.br/img/c/940/620/dn_arquivo/2025/01/ponte-giratoria.jpg"
          alt=""
        />
      </div>
    </a>
    <div class="secundarias">
      <a href="" class="noticia noticia-secundaria">
        <div class="conteudo-noticia">
          <h2>Título da notícia</h2>

          <p class="texto">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam nisi
            laboriosam quisquam accusamus maiores. Maiores accusamus esse rem
            nisi id!
          </p>
          <p>Categoria | Leitura de 6 min</p>
        </div>
        <div class="img-noticia">
          <img
            src="https://cdn.folhape.com.br/img/c/940/620/dn_arquivo/2025/01/ponte-giratoria.jpg"
            alt=""
          />
        </div>
      </a>
      <a href="" class="noticia noticia-secundaria">
        <div class="conteudo-noticia">
          <h2>Título da notícia</h2>
          <p class="texto">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam nisi
            laboriosam quisquam accusamus maiores. Maiores accusamus esse rem
            nisi id!
          </p>
          <p>Categoria | Leitura de 6 min</p>
        </div>
        <div class="img-noticia">
          <img
            src="https://cdn.folhape.com.br/img/c/940/620/dn_arquivo/2025/01/ponte-giratoria.jpg"
            alt=""
          />
        </div>
      </a>
      <a href="" class="noticia noticia-secundaria">
        <div class="conteudo-noticia">
          <h2>Título da notícia</h2>
          <p class="texto">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam nisi
            laboriosam quisquam accusamus maiores. Maiores accusamus esse rem
            nisi id!
          </p>
          <p>Categoria | Leitura de 6 min</p>
        </div>
        <div class="img-noticia">
          <img
            src="https://cdn.folhape.com.br/img/c/940/620/dn_arquivo/2025/01/ponte-giratoria.jpg"
            alt=""
          />
        </div>
      </a>
    </div>
  </div>
  <div class="categorias">
    <h1>Categorias</h1>
    <div class="categoria">
      <div class="titulo-categoria">
        <h2>Política</h2>
        <a href="">Ver mais</a>
      </div>
      <div class="noticias">
        <a href="" class="noticia">
          <h2>Título da notícia</h2>
          <p class="texto">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam nisi
            laboriosam quisquam accusamus maiores. Maiores accusamus esse rem
            nisi id!
          </p>
          <p>Categoria | Leitura de 6 min</p>
          <div class="img-noticia">
            <img
              src="https://cdn.folhape.com.br/img/c/940/620/dn_arquivo/2025/01/ponte-giratoria.jpg"
              alt=""
            />
          </div>
        </a>
        <a href="" class="noticia">
          <h2>Título da notícia</h2>
          <p class="texto">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam nisi
            laboriosam quisquam accusamus maiores. Maiores accusamus esse rem
            nisi id!
          </p>
          <p>Categoria | Leitura de 6 min</p>
          <div class="img-noticia">
            <img
              src="https://cdn.folhape.com.br/img/c/940/620/dn_arquivo/2025/01/ponte-giratoria.jpg"
              alt=""
            />
          </div>
        </a>
        <a href="" class="noticia">
          <h2>Título da notícia</h2>
          <p class="texto">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam nisi
            laboriosam quisquam accusamus maiores. Maiores accusamus esse rem
            nisi id!
          </p>
          <p>Categoria | Leitura de 6 min</p>
          <div class="img-noticia">
            <img
              src="https://cdn.folhape.com.br/img/c/940/620/dn_arquivo/2025/01/ponte-giratoria.jpg"
              alt=""
            />
          </div>
        </a>
      </div>
      <hr />
    </div>
    <div class="categoria">
      <div class="titulo-categoria">
        <h2>Tecnologia</h2>
        <a href="">Ver mais</a>
      </div>
      <div class="noticias">
        <a href="" class="noticia">
          <h2>Título da notícia</h2>
          <p class="texto">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam nisi
            laboriosam quisquam accusamus maiores. Maiores accusamus esse rem
            nisi id!
          </p>
          <p>Categoria | Leitura de 6 min</p>
          <div class="img-noticia">
            <img
              src="https://cdn.folhape.com.br/img/c/940/620/dn_arquivo/2025/01/ponte-giratoria.jpg"
              alt=""
            />
          </div>
        </a>
        <a href="" class="noticia">
          <h2>Título da notícia</h2>
          <p class="texto">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam nisi
            laboriosam quisquam accusamus maiores. Maiores accusamus esse rem
            nisi id!
          </p>
          <p>Categoria | Leitura de 6 min</p>
          <div class="img-noticia">
            <img
              src="https://cdn.folhape.com.br/img/c/940/620/dn_arquivo/2025/01/ponte-giratoria.jpg"
              alt=""
            />
          </div>
        </a>
        <a href="" class="noticia">
          <h2>Título da notícia</h2>
          <p class="texto">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam nisi
            laboriosam quisquam accusamus maiores. Maiores accusamus esse rem
            nisi id!
          </p>
          <p>Categoria | Leitura de 6 min</p>
          <div class="img-noticia">
            <img
              src="https://cdn.folhape.com.br/img/c/940/620/dn_arquivo/2025/01/ponte-giratoria.jpg"
              alt=""
            />
          </div>
        </a>
      </div>
      <hr />
    </div>
    <div class="categoria">
      <div class="titulo-categoria">
        <h2>Esportes</h2>
        <a href="">Ver mais</a>
      </div>
      <div class="noticias">
        <a href="" class="noticia">
          <h2>Título da notícia</h2>
          <p class="texto">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam nisi
            laboriosam quisquam accusamus maiores. Maiores accusamus esse rem
            nisi id!
          </p>
          <p>Categoria | Leitura de 6 min</p>
          <div class="img-noticia">
            <img
              src="https://cdn.folhape.com.br/img/c/940/620/dn_arquivo/2025/01/ponte-giratoria.jpg"
              alt=""
            />
          </div>
        </a>
        <a href="" class="noticia">
          <h2>Título da notícia</h2>
          <p class="texto">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam nisi
            laboriosam quisquam accusamus maiores. Maiores accusamus esse rem
            nisi id!
          </p>
          <p>Categoria | Leitura de 6 min</p>
          <div class="img-noticia">
            <img
              src="https://cdn.folhape.com.br/img/c/940/620/dn_arquivo/2025/01/ponte-giratoria.jpg"
              alt=""
            />
          </div>
        </a>
        <a href="" class="noticia">
          <h2>Título da notícia</h2>
          <p class="texto">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam nisi
            laboriosam quisquam accusamus maiores. Maiores accusamus esse rem
            nisi id!
          </p>
          <p>Categoria | Leitura de 6 min</p>
          <div class="img-noticia">
            <img
              src="https://cdn.folhape.com.br/img/c/940/620/dn_arquivo/2025/01/ponte-giratoria.jpg"
              alt=""
            />
          </div>
        </a>
      </div>
      <hr />
    </div>
  </div>
  <div class="mais-lidas">
    <h1>Mais lidas</h1>
    <div class="noticias">
      <a href="" class="noticia">
        <h2>Título da notícia</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam nisi
          laboriosam quisquam accusamus maiores. Maiores accusamus esse rem nisi
          id!
        </p>
        <p>Categoria | Leitura de 6 min</p>
        <div class="img-noticia">
          <img
            src="https://cdn.folhape.com.br/img/c/940/620/dn_arquivo/2025/01/ponte-giratoria.jpg"
            alt=""
          />
        </div>
      </a>
      <a href="" class="noticia">
        <h2>Título da notícia</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam nisi
          laboriosam quisquam accusamus maiores. Maiores accusamus esse rem nisi
          id!
        </p>
        <p>Categoria | Leitura de 6 min</p>
        <div class="img-noticia">
          <img
            src="https://cdn.folhape.com.br/img/c/940/620/dn_arquivo/2025/01/ponte-giratoria.jpg"
            alt=""
          />
        </div>
      </a>
      <a href="" class="noticia">
        <h2>Título da notícia</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam nisi
          laboriosam quisquam accusamus maiores. Maiores accusamus esse rem nisi
          id!
        </p>
        <p>Categoria | Leitura de 6 min</p>
        <div class="img-noticia">
          <img
            src="https://cdn.folhape.com.br/img/c/940/620/dn_arquivo/2025/01/ponte-giratoria.jpg"
            alt=""
          />
        </div>
      </a>
    </div>
  </div>
</section>
