<section class="page-home">
  <h1>Últimas Notícias</h1>
  <div class="ultimas-noticias">
    @for (news of newsRecent; track $index) {
      <a href="/noticia/{{ news.slug }}" class="noticia">
        <div class="infos-noticia">
          <h2>{{ news.title }}</h2>
          <p class="desc-noticia">
            {{ news.subtitle }}
          </p>
          <p class="infos">
            {{ news.category?.name }} | Leitura de {{ news.reading_time }} min
          </p>
        </div>
        <div class="img-noticia">
          <img [src]="storageUrl + '/' + news.main_image" alt="" />
        </div>
      </a>
    }
  </div>
  <div class="categorias">
    <h1>Categorias</h1>
    @for (category of categories; track $index) {
      <div class="categoria">
        <div class="titulo-categoria">
          <h2>{{ category.name }}</h2>
          <a href="/categoria/{{ category.slug }}">
            Ver mais
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-caret-right-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
              />
            </svg>
          </a>
        </div>
        <div class="noticias">
          @for (news of category.news; track $index) {
            <a href="/noticia/{{ news.slug }}" class="noticia">
              <h2>{{ news.title }}</h2>
              <p class="desc-noticia">
                {{ news.subtitle }}
              </p>
              <p class="infos">
                {{ category.name }} | Leitura de {{ news.reading_time }} min
              </p>
              <div class="img-noticia">
                <img [src]="storageUrl + '/' + news.main_image" alt="" />
              </div>
            </a>
          }
        </div>
        <hr />
      </div>
    }
  </div>
  <div class="mais-lidas">
    <h1>Mais lidas</h1>
    <div class="noticias">
      @for (news of newsMostViewed; track $index) {
        <a href="/noticia/{{ news.slug }}" class="noticia">
          <h2>{{ news.title }}</h2>
          <p class="desc-noticia">
            {{ news.subtitle }}
          </p>
          <p class="infos">
            {{ news.category?.name }} | Leitura de {{ news.reading_time }} min
          </p>
          <div class="img-noticia">
            <img [src]="storageUrl + '/' + news.main_image" alt="" />
          </div>
        </a>
      }
    </div>
  </div>
</section>
