.news-list{
  width: 90%;
  margin: 0 auto;
  padding: 2rem;
  .noticias{
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    .noticia{
      width: 320px;
      background-color: #f0f0f0;
      border-radius: 5px;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      .img-noticia{
        border-radius: 5px;
        overflow: hidden;
        img{
          width: 100%;
          aspect-ratio: 4/3;
          object-fit: cover;

        }
      }
      .infos-noticia{
        display: flex;
        flex-direction: column;
        gap: 4px;
        h2{
          font-weight: 600;
        }
        .categoria{
          font-size: 1rem;
          font-weight: 500;
          text-transform: uppercase;
          color: #2c53af;
          font-weight: 500;
        }
        .excerpt{
          font-size: 0.875rem;
          font-weight: 400;
          color: #12244e;
          flex-grow: 1;
        }
      }
      .buttons{
        margin-top: auto;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        button{
          width: 100%;
          padding: 0.5rem;
          transition: .3s;
        }
        .btn-edit{
          background-color: #2c53af;
          color: white;
          &:hover{
            background-color: #12244e;
          }
        }
        .btn-delete{
          background-color: #c20000;
          color: white;
          &:hover{
            background-color: #800000;
          }
        }
      }
    }
  }
}
