<section class="admin news-list">
    <h1>Lista de Notícias</h1>
    <div class="spinner">

        <mat-spinner diameter="50"></mat-spinner>
    </div>
    @if (isLoading) {
        <mat-spinner diameter="50"></mat-spinner>
    }
    @else {
        <div class="noticias">
        @for (item of news; track $index) {
            <div class="noticia">
                <img [src]="`${storageUrl}/${item.main_image}`" alt="">
                <h2>{{ item.title }}</h2>
                <div [innerHTML]="sanitizeHtml(item.excerpt)"></div>
            </div>
        }
        </div>
    }
</section>
