.news-list {
  width: 90%;
  margin: 0 auto;
  padding: 2rem;
  .topo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .btns{
      display: flex;
      align-items: center;
      gap: 1rem;
      .btn-add {
        background-color: #1aa04e;
        color: white;
        transition: 0.3s;
        &:hover {
          background-color: #20b558;
        }
      }
      .btn-drafts {
        background-color: #e2c20a;
        color: black;
        &:hover {
          background-color: #ffd902;
        }
      }
    }
  }
  .noticias {
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    .noticia {
      width: 100%;
      background-color: #f0f0f0;
      border-radius: 5px;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      .img-noticia {
        border-radius: 5px;
        overflow: hidden;
        img {
          width: 100%;
          aspect-ratio: 4/3;
          object-fit: cover;
        }
      }
      .infos-noticia {
        display: flex;
        flex-direction: column;
        gap: 4px;
        h2 {
          font-weight: 600;
          font-size: 1.25rem;
        }
        .conteudo-status {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 1rem;
        }
        .status {
          display: flex;
          align-items: center;
          gap: 4px;
          border-radius: 5px;
          padding: 0.25rem 0.5rem;
          width: fit-content;
          cursor: pointer;
          position: relative;
          &.published {
            background: #1aa04e;
            color: white;
            &::before {
              content: "Despublicar";
              font-size: 0.875rem;
              visibility: hidden;
              position: absolute;
              left: 50%;
              translate: -50% 0;
            }
            &:hover {
              background: #c20000;
              span,
              mat-icon {
                visibility: hidden;
              }
              &::before {
                visibility: visible;
              }
            }
          }
          &.draft {
            background: #cc9410;
            color: white;
            &::before {
              content: "Publicar";
              font-size: 0.875rem;
              visibility: hidden;
              position: absolute;
              left: 50%;
              translate: -50% 0;
            }
            &:hover {
              background: #1aa04e;
              span,
              mat-icon {
                visibility: hidden;
              }
              &::before {
                visibility: visible;
              }
            }
          }
        }
        .categoria {
          font-size: 1rem;
          font-weight: 500;
          text-transform: uppercase;
          color: #2c53af;
          font-weight: 500;
        }
        .excerpt {
          font-size: 0.875rem;
          font-weight: 400;
          color: #12244e;
          flex-grow: 1;
        }
      }
      .buttons {
        margin-top: auto;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        button {
          width: 100%;
          padding: 0.5rem;
          transition: 0.3s;
        }
        .btn-edit {
          background-color: #12244e;
          color: white;
          &:hover {
            background-color: #2c53af;
          }
        }
        .btn-delete {
          background-color: #800000;
          color: white;
          &:hover {
            background-color: #c20000;
          }
        }
      }
    }
  }
}

@media (max-width: 768px){
  .news-list{
    .topo{
      flex-direction: column;
      .btns{
        gap: 0.5rem;
        flex-direction: column;
        a{
          width: 100%;
          button{
            width: 100%;
            font-size: 0.875rem;
          }
        }
      }
    }
  }
}