* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100dvh;
}
button {
  border: none;
}
a {
  color: inherit;
  text-decoration: none;
}
section {
  width: 1600px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding-top: 1rem;
  padding-bottom: 3rem;
  margin: 0 auto;
  margin-top: 160px;
}
section.admin{
  width: 100%;
}
