@use '@angular/material' as mat;

:root {
  @include mat.select-overrides((
    panel-background-color: #fff,
  ));
  --mat-option-selected-state-layer-color: #f0f0f0;
  --mat-option-hover-state-layer-color: #d0d0d0;
}

* {
  padding: 0;
  margin: 0;
  opacity: 0.9;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100dvh;
}
button {
  border: none;
}
a {
  color: inherit;
  text-decoration: none;
}
section {
  width: 1600px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding-top: 1rem;
  padding-bottom: 3rem;
  margin: 0 auto;
  margin-top: 160px;
}
section.admin{
  width: 100%;
}
