*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}
button{
    border: none;
}
a{
    color: inherit;
    text-decoration: none;
}
section{
    width: 1600px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding-top: 1rem;
    margin: 0 auto;
}