@use "@angular/material" as mat;

:root {
  @include mat.select-overrides(
    (
      panel-background-color: #fff,
    )
  );
  --mat-option-selected-state-layer-color: #f0f0f0;
  --mat-option-hover-state-layer-color: #d0d0d0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100dvh;
  opacity: 0.3;
  background-color: #303030;
}
button {
  border: none;
  transition: 0.3s;
}
a {
  color: inherit;
  text-decoration: none;
}
section {
  width: 1600px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding-top: 1rem;
  padding-bottom: 3rem;
  margin: 0 auto;
  margin-top: 160px;
}
section.admin {
  width: 90%;
  margin: 0 auto;
  padding: 2rem;
}
mat-spinner {
  stroke: #2c53af;
}
mat-error {
  color: red !important;
}
mat-hint {
  color: #505050 !important;
}
